<h1>Productos</h1>

<p>Hi {{userData.first_name}}!</p>

<p>These are our available products:</p>
<div id="filters">
<label for="category">Category:</label>
<select name="options" id="categorySelect">
    <option value="" >All</option>
    <option value="Home" >Home</option>
    <option value="Personal care" >Personal care</option>
    <option value="Gifts" >Gifts</option>
    <option value="Otro" >Otro</option>
</select>
<label for="sort">Sort:</label>
<select name="options" id="sortSelect">
    <option value="desc" >Higher at lower price</option>
    <option value="asc">Lower at higher price</option>
</select>
</div>

    <div id="divProducts">
        {{#each payload}}
        <div>
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p>Price: {{this.price}}</p>
            <p>Category: {{this.category}}</p>
            <p id="idprod">id: {{this._id}}</p>
            <input id="btnAddCart" type="submit" value="Add Product" class="outline">
        </div>
        {{/each}}
    </div>
<div id="pagination">
<a href="{{prevLink}}" role="button" {{#unless hasPrevPage}}disabled{{/unless}}>Prev</a>
<p>{{page}}</p>
<a href="{{nextLink}}" role="button" {{#unless hasNextPage}}disabled{{/unless}}>Next</a>
</div>

<script src="js/products.js"></script>




